.customers-heading {
  color: #06376b;
  font-size: 19px;
  padding-top: 75px;
}

.customer-text {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding-top: 34px;
}
.blank {
  height: 312px;
}