.items-heading {
  color: #06376b;
  font-size: 22px;

}

.create-item-heading{
  color: #06376b;
  font-size: 13px;
  padding-top: 50px;

}

.create-button {
  color: #06376b;
  /* background-color:#4AD7D1; */
}

.items-main {
  background-color: rgb(161, 155, 147);
  /* padding: 75px; */
}
.items-rendered {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-top: 34px;
  padding-right: 50px;
}

.edit-item {
  margin: 11px;
  border-radius: 30%;
  background-color: #06376b;
  color: white;

}

.delete-item {
  margin: 11px;
  border-radius: 30%;
  background-color: #06376b;
  color: white;

}

.create-form {
  padding-bottom: 166px;
}